# managed by skuba
# Gantry resource files support non-standard template syntax
/.gantry/**/*.yaml
/.gantry/**/*.yml
gantry*.yaml
gantry*.yml
pnpm-lock.yaml
coverage
# end managed by skuba

examples/**/*.yml
examples/**/*.html
src/openapi3-ts/*
packages/openapi3-ts/src/*
